$fontSize: 16px;
$fontFamily: helvetica, sans-serif;

$mainColor: #fff;
$settingsColor: #666;
$linkColor: #666;
$linkColorWhite: rgba(255, 255, 255, .6);
$overlayBg: #000;
$radioBg: #fff;
$radioColor: $settingsColor;
