.heighten
  top .05em

.heighten
.typo
  position relative

.typo
  left -.33em
  margin-right -.4em

.typo_double
  margin-right -.8em

.dash
  margin-right -3em

.dash
.timer
  position relative

.timer
  top -.05em
  animation blink 1s step-start 0s infinite

@keyframes blink
  50% {opacity:0}
