include ../../../../node_modules/bemto.pug/bemto

+b.topsites
  ul(
    v-if='topSites'
  )
    +e.LI.item(
      :key='index'
    	v-for='(site, index) in topSites'
    )
      +e.A.link(
        :href='site.url'
      	:title='site.title'
      )
        +e.IMG.favicon(
          :srcset='`${FAVICONS_URL}${site.url}`'
        	:alt='site.title'
        )
        +e.SPAN.title
          | {{ site.title }}
