.splashscreen
  height 100vh
  overflow hidden
  text-align center
  display flex
  justify-content center
  align-items center

  &__aligner
    display block

  &__logo
    display inline-block
    position relative
    width 200px
    height 200px
    top 0
    bottom 0
    left 0
    right 0
    margin auto

  &__text
    font-family 'Arial Narrow', Arial, sans-serif
    text-transform uppercase
    display block
    padding-top 24px
    text-align center
    font-size 24px

  &__fuck
    display block
    width 130px
    height 130px
    background #000
    z-index 5
    position absolute
    top 50%
    left 50%
    margin -65px 0 0 -65px
    line-height 140px
    font-size 40px
    font-family Arial, sans-serif
