include ../../../../node_modules/bemto.pug/bemto

+b.SECTION.splashscreen
  +e.aligner
    +e.FIGURE.logo
      i.box.box-1
      i.box.box-2
      i.box.box-3
      i.box.box-4
      +e.B.fuck #%!

    +e.SPAN.text {{ loadingText }}
