*
*::after
*::before
  box-sizing border-box

body
html
  height 100%

html
  line-height 1.2

body
  background #000
  margin 0
  font-family Bebas Neue
  font-weight 300
  text-transform uppercase

.layout
  position relative
  min-height 100%
  background-color #000
  color #fff
